<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="15%">申報日期</th>
        <th width="25%">財產種類</th>
        <th width="15%">價額</th>
        <th width="15%">項/件</th>
        <th width="15%">所有人</th>
        <th width="15%">索引</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td>{{obj.date|date:"Y-m-d"}}</td>
        <td>{{obj.name}}</td>
        <td><p class="price text-right">{{obj.total}}</p></td>
        <td><p class="text-right">{{obj.quantity}}</p></td>
        <td>{{obj.owner}}</td>
        <td>{{obj.source_file}}-{{obj.index}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="15%">申報日期</th>
        <th width="25%">財產種類</th>
        <th width="15%">價額</th>
        <th width="15%">項/件</th>
        <th width="15%">所有人</th>
        <th width="15%">索引</th>
    </tr>
</tfoot>
