<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="20%">日期</th>
        <th width="20%">折合新臺幣總額</th>
        <th width="20%">幣別</th>
        <th width="20%">所有人</th>
        <th width="20%">索引</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td>{{obj.date|date:"Y-m-d"}}</td>
        <td><p class="price text-right">{{obj.total|floatformat}}</p>元</td>
        <td>{{obj.currency}}</td>
        <td>{{obj.owner}}</td>
        <td>{{obj.source_file}}-{{obj.index}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="20%">日期</th>
        <th width="20%">折合新臺幣總額</th>
        <th width="20%">幣別</th>
        <th width="20%">所有人</th>
        <th width="20%">索引</th>
    </tr>
</tfoot>
