<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="15%">申報日期</th>
        <th width="25%">保險公司</th>
        <th width="25%">保險名稱</th>
        <th width="20%">要保人</th>
        <th width="15%">索引</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td>{{obj.date|date:"Y-m-d"}}</td>
        <td>{{obj.company}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.owner}}</td>
        <td>{{obj.source_file}}-{{obj.index}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="15%">申報日期</th>
        <th width="25%">保險公司</th>
        <th width="25%">保險名稱</th>
        <th width="20%">要保人</th>
        <th width="15%">索引</th>
    </tr>
</tfoot>
