<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="10%">申報日期</th>
        <th width="20%">投資事業名稱</th>
        <th width="10%">投資金額</th>
        <th width="15%">投資事業地址</th>
        <th width="10%">投資人</th>
        <th width="15%">取得原因</th>
        <th width="10%">取得時間</th>
        <th width="10%">索引</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td>{{obj.date|date:"Y-m-d"}}</td>
        <td>{{obj.company}}</td>
        <td><p class="price text-right">{{obj.total}}</p></td>
        <td>{{obj.address}}</td>
        <td>{{obj.owner}}</td>
        <td>{{obj.register_reason}}</td>
        <td>{{obj.register_date}}</td>
        <td>{{obj.source_file}}-{{obj.index}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">

        <th width="10%">申報日期</th>
        <th width="20%">投資事業名稱</th>
        <th width="10%">投資金額</th>
        <th width="15%">投資事業地址</th>
        <th width="10%">投資人</th>
        <th width="15%">取得原因</th>
        <th width="10%">取得時間</th>
        <th width="10%">索引</th>

    </tr>
</tfoot>
