{% load ly_extras %}
<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="10%">申報日期</th>
        <th width="20%">土地坐落</th>
        <th width="20%">持有面積<br>(平方公尺)</th>
        <th width="10%">總面積<br>(平方公尺)</th>
        <th width="10%">權利範圍(持分)</th>
        <th width="10%">取得價額</th>
        <th width="5%">登記取得時間</th>
        <th width="5%">登記取得原因</th>
        <th width="5%">所有人</th>
        <th width="5%">索引</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td>{{obj.date|date:"Y-m-d"}}</td>
        <td>{{obj.name}}</td>
        <td><p class="text-right">{{obj.total|floatformat}}</p></td>
        <td><p class="text-right">{{obj.area}}</p></td>
        <td>{{obj.share_portion}} ({{obj.portion|multiply:100|floatformat}}%)</td>
        <td><abbr title="{{ obj.acquire_value }}"><p class="price text-right">{{ obj.acquire_value|truncatechars:20 }}</p></abbr></td>
        <td>{{obj.register_date}}</td>
        <td>{{obj.register_reason}}</td>
        <td>{{obj.owner}}</td>
        <td>{{obj.source_file}}-{{obj.index}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="10%">申報日期</th>
        <th width="20%">土地坐落</th>
        <th width="20%">持有面積<br>(平方公尺)</th>
        <th width="10%">總面積<br>(平方公尺)</th>
        <th width="10%">權利範圍(持分)</th>
        <th width="10%">取得價額</th>
        <th width="5%">登記取得時間</th>
        <th width="5%">登記取得原因</th>
        <th width="5%">所有人</th>
        <th width="5%">索引</th>
    </tr>
</tfoot>
