{% load ly_extras %}
{% load highlight %}

<li class="media">
    <div class="media-body well">
        <div class="muted media-heading">
            第{{ fragment.ad }}屆（{{ fragment.date|date:"Y-m-d" }}）第{{ fragment.vote_seq }}個表決
        </div>
        <h5 class="text-success">表決內容</h5>
        {% if keyword %}
            <small>（前文略）</small>
            {% highlight fragment.text with keyword %}
            <small>（後文略）</small>
        {% else %}
            {{ fragment.text|linebreaksbr }}
        {% endif %}
        <h5 class="text-success">標籤</h5>
        {% for title, votes in fragment.tags %}
            <font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{title}}</font>
            （{{votes}}票）&nbsp;&nbsp;
        {% endfor %}
        <h5 class="text-success">表決結果</h5>
        <div>
            <blockquote>
                <span class="label label-inverse"><font class="lead">{{fragment.result|vote_result:'cht'}}</font></span>
                {% if fragment.conflict %}
                    <small class="text-error"><font class="lead text-error">有立委脫黨投票</font></small>
                {% endif %}
            </blockquote>
            <h4>
                <a href="{% url 'vote:vote_detail' fragment.uid %}" rel="tooltip" title="查看各立委投什麼票">☞ 查看投票名單和完整內容</a>
            </h4>
        </div>
    </div>
</li>
