{% extends "base.html" %}
{% load ly_extras %}
{% load staticfiles %}

{% block title %}
    {% if vote %}
        <title>立委投票指南:{{ vote.sitting.name }}({{ vote.sitting.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決</title>
        <meta property="og:title" content="立委投票指南:{{ vote.sitting.name }}({{ vote.sitting.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決"/>
        <meta itemprop="name" content="立委投票指南:{{ vote.sitting.name }}({{ vote.sitting.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決">
    {% else %}
        <title>立委投票指南:單一表決名單</title>
        <meta property="og:title" content="立委投票指南:單一表決名單"/>
        <meta itemprop="name" content="立委投票指南:單一表決名單">
    {% endif %}
{% endblock title %}

{% block right %}
    {% if vote %}
    {% if vote.category == '變更議程順序' %}
    <div class="alert lead">
        <button type="button" class="close">&times;</button>
        <p><strong>注意！！</strong> 此表決可能為變更議程順序的表決，還在決定審議順序階段，並非各個單一提案的通過與否。</p>
        <p>各個單一提案也請特別注意順序號碼，由小到大表示由先到後。</p>
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
            {% for fragment in vote.results %}
                <div class="span12">
                    <h3>
                        {% if fragment.decision == "反對" %}
                            <i class="fa fa-times-circle text-error">
                        {% elif fragment.decision == "贊成" %}
                            <i class="fa fa-check-circle text-success">
                        {% elif fragment.decision == "沒投票" %}
                            <i class="fa fa-bed muted">
                        {% else %}
                            <i class="fa fa-question-circle text-warning">
                        {% endif %}
                        {{ fragment.decision }} </i>
                    </h3>
                    <ul>
                    {% for element in fragment.party_list %}
                        <li data-toggle="collapse" data-target="#ref_vote_{{fragment.decision}}_{{element.party}}"><span>{{element.party}}：{{element.legislators|length}}人 <i class="fa fa-caret-square-o-down"></i></span></li>
                        <div id="ref_vote_{{fragment.decision}}_{{element.party}}" class="collapse">
                            <ul class="inline">
                            {% for ly in element.legislators %}
                                <li><a href="{% url 'legislator:voter_standpoints' legislator_id=ly.legislator_id ad=vote.sitting.ad %}" rel="tooltip" title="這位立委的表決紀錄">{{ly.name}}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </ul>
                </div><!--end: span -->
            {% endfor %}
            </div><!--end: row-fluid -->
            {% endif %}
        </div><!--end: span -->

        <div class="span5">
            <div class="hero-unit">
                <span class="badge badge-important pull-right"><font class="lead">{{vote.result|vote_result:'cht'}}</font></span>
                <a href="{{vote.sitting.links.pdf}}" target="_blank"><i class="fa fa-file-pdf-o"> 立院會議記錄(pdf)</i></a>
                <p class="text-success">表決日期：{{ vote.sitting.date|date:"Y-m-d" }}</p>
                <p>{{ vote.content|linebreaksbr }}</p>
            </div>
        </div><!--end: span -->

        <div class="span4" style="background-color: #ffff001a">
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                <br>
                <fieldset>
                    <label>請輸入最能代表這個提案的標籤：</label>
                    {% if user.is_authenticated %}
                        <input type="search" name="keyword" id="keyword" maxlength="20" placeholder="建議:動+名詞，如降屯房稅">
                        <button type="submit" class="btn">確定</button>
                    {% else %}
                        <a href="/login/facebook/?next={% url 'vote:vote_detail' vote.uid %}"><i class="fa fa-sign-in"> 登入加標籤</i></a>
                    {% endif %}
                </fieldset>
                {% with size=3 %}
                {% for standpoint in standpoints_of_vote %}
                    {% if forloop.counter0 == size %}
                        <button type="button" class="btn " data-toggle="collapse" data-target="#ref_more"><font>..... 其他標籤 <i class="fa fa-angle-down"></i></font></button>
                        <div id="ref_more" class="collapse">
                    {% endif %}
                    <h4>{{standpoint.pro}}人認為是
                        <span class="label label-success">{{standpoint}}</span>
                        {% if user.is_authenticated %}
                            {% if standpoint.have_voted %}
                                <button name="against" class="btn" value="{{standpoint.id}}">取消 +1</button>
                            {% else %}
                                <button name="pro" class="btn" value="{{standpoint.id}}">+1</button>
                            {% endif %}
                        {% else %}
                        <a href="/login/facebook/?next={% url 'vote:vote_detail' vote.uid %}" class="btn btn-default"><i class="fa fa-sign-in"> 登入投票</i></a>
                        {% endif %}
                    </h4>
                {% endfor %}
                {% if standpoints_of_bill|length > size %}
                    </div>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div><!--end: row-fluid -->
    <hr>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#vote').addClass('active');
            $("#other_tags.collapse").collapse();
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
