{% extends "base.html" %}
{% load ly_extras %}
{% load staticfiles %}

{% block title %}
    {% if vote %}
        <title>立委投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.sitting.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決</title>
        <meta property="og:title" content="立委投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.sitting.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決"/>
        <meta itemprop="name" content="立委投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.sitting.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決">
    {% else %}
        <title>立委投票指南:單一表決名單</title>
        <meta property="og:title" content="立委投票指南:單一表決名單"/>
        <meta itemprop="name" content="立委投票指南:單一表決名單">
    {% endif %}
{% endblock title %}

{% block right %}
    {% if vote %}
    {% with vote=vote.0.vote %}
    {% if vote.category == '變更議程順序' %}
    <div class="alert lead">
        <button type="button" class="close">&times;</button>
        <p><strong>注意！！</strong> 此表決可能為變更議程順序的表決，還在決定審議順序階段，並非各個單一提案的通過與否。</p>
        <p>各個單一提案也請特別注意順序號碼，由小到大表示由先到後。</p>
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" method="get" class="form-inline" id="form">
                {% csrf_token %}
                <br>
                <fieldset>
                    <label>請輸入您覺得最能代表這個表決的關鍵字：</label>
                    <input type="search" name="title" id="title" class="span4" maxlength="20" autofocus>
                    <button type="submit" class="btn">確定</button>
                </fieldset>
            </form>
            {% for standpoint in standpoints_of_vote %}
                <h4>{{standpoint.pro}}人認為是 <font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{standpoint}}</font>
                    {% if not standpoint.have_voted %}
                    <a class="btn" href="{% url "vote:vote_detail" vote_id=vote.uid %}?standpoint_id={{standpoint.id}}">+1</a>
                    {% endif %}
                </h4>
            {% endfor %}
            <div class="hero-unit">
                <p class="text-success">表決日期：{{ vote.sitting.date|date:"Y-m-d" }}</p>
                <span class="badge badge-info"><font class="lead">原文</font></span><br>
                <p>{{ vote.content|linebreaksbr }}</p>
            </div>
        </div><!--end: span -->
        <div class="span6">
            <div align="center">
                <br>
                <div id="d3" align="center"></div>
                <p class="badge badge-important"><font class="lead">{{vote.result|vote_result:'cht'}}</font></span>
            </div>
            {% include "common/highlight.html" with ad=vote.sitting.ad %}
            {% endwith %}
            {% regroup vote by decision as ly_list %}
            <table class="table table-bordered table-condensed">
                {% with col=20 %}
                <caption style="text-align: left;font-size: 40px;margin-bottom: 20px;"><strong>記名表決名單</strong></caption>
                {% for decision in ly_list %}
                {% with decision=decision.grouper %}
                {% ifequal decision null %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #FFCC33;"><strong>沒投票
                {% endifequal %}
                {% ifequal decision -1 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #FF99CC;"><strong>反對票
                {% endifequal %}
                {% ifequal decision 1 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #CCFF99;"><strong>贊成票
                {% endifequal %}
                {% ifequal decision 0 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #CCCCCC;"><strong>棄權票
                {% endifequal %}
                </strong></td>
                {% endwith %}
                    {% for fragment in decision.list %}
                    {% if forloop.counter0|divisibleby:col %}
                    </tr><tr>
                    {% endif %}
                    {% with ly=fragment.legislator %}
                        <td class="name {{ly.county}} {{ly.gender}}"><a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=vote.0.vote.sitting.ad %}" rel="tooltip" title="這位立委的表決投票紀錄">{% include "common/ly_color_by_party.html" %}</a></td>
                    {% endwith %}
                    {% endfor %}
                {% endfor %}
                {% include "common/color_info_of_party.html" with column=col %}
                {% endwith %}
            </table>
            <hr>
            <div class="fb-comments" data-width="600" data-num-posts="3" href="{{current_url}}" order_by="reverse_time"></div>
            {% endif %}
        </div><!--end: span -->
    </div><!--end: row-fluid -->
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    {% include "vote/vote_d3_pie_chart.html" %}
    <script>
        $(document).ready( function() {
            $('#vote').addClass('active');
            $("[rel='tooltip']").tooltip();
            $('#county').change(function() {
                $('#gender').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
            $('#gender').change(function() {
                $('#county').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
        });
    </script>
{% endblock script %}
