<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {% if vote %}
        <title>立委投票指南:{{ vote.date|date:"Y-m-d" }}單一表決名單</title>	
        <meta property="og:title" content="立委投票指南:{{ vote.date|date:"Y-m-d" }}單一表決名單"/>
        <meta itemprop="name" content="立委投票指南:{{ vote.date|date:"Y-m-d" }}單一表決名單">	
    {% else %}
        <title>立委投票指南:單一表決名單</title>
        <meta property="og:title" content="立委投票指南:單一表決名單"/>
        <meta itemprop="name" content="立委投票指南:單一表決名單">	
    {% endif %}		
{% endblock title %}
{% block right %}
    <div class="row-fluid">
        <div class="span6">
        <br>
	{% if vote %}
	    <div align="center">
		<canvas id="canvas" height="150" width="200" ></canvas><br><br>
		<p class="lead"><font style="color: #FF66CC;"><b>反對</b></font> <font style="color: #66CC66;"><b>贊成</b></font> <font style="color: #999999;"><b>棄權</b></font> <b>沒有投票</b></p>
                <hr>
                <div>
                    <ul class="pager">
                    {% with vote_id=vote.id %}
                        {% if vote_id != 1 %}
                            <li class="previous">
                                <a href="{% url 'vote:vote_detail' vote.id|add:-1 %}" ><b>&larr; 前一個表決</b></a>
                            </li>
                        {% endif %}
                        {% if vote.id != nvotes %}
                            <li class="next">
                                <a href="{% url 'vote:vote_detail' vote.id|add:1 %}" ><b>下一個表決 &rarr;</b></a>
                            </li>
                        {% endif %}
                    {% endwith %}
	            </ul>
	        </div>
	    </div>
	    <div class="hero-unit">
		<p class="text-success">表決日期：{{ vote.date|date:"Y-m-d" }}</p>
		<p class="lead">{{vote.content|linebreaksbr }}</p>
	    </div>	
        </div><!--end: span6 -->	
        <div class="span6">	
            <br>
	    {% regroup vote.legislator_vote_set.all by decision as ly_list %}
	    <table class="table table-bordered table-condensed">
	        {% with col=20 %}
	        <caption style="text-align: left;font-size: 40px;margin-bottom: 20px;"><strong>記名表決名單</strong></caption>
		{% for decision in ly_list %}					
            {% with decision=decision.grouper %}
		        {% ifequal decision null %}
			    <tr><td colspan={{col}} style="background-color: #FFFF99;"><strong>沒有投票
		        {% endifequal %}					
		        {% ifequal decision -1 %}
			    <tr><td colspan={{col}} style="background-color: #FF99CC;"><strong>反對票
		        {% endifequal %}
		        {% ifequal decision 1 %}
			    <tr><td colspan={{col}} style="background-color: #CCFF99;"><strong>贊成票
		        {% endifequal %}
		        {% ifequal decision 0 %}
			    <tr><td colspan={{col}} style="background-color: #CCCCCC;"><strong>棄權票
		        {% endifequal %}
            {% endwith %}
		    </strong></td>
		    {% for fragment in decision.list %}
			{% if forloop.counter0|divisibleby:col %}
			    </tr><tr>
			{% endif %}				
            {% with ly=fragment.legislator %}
			<td><a href="{% url 'legislator:voter_detail' ly.legislator_id %}" rel="tooltip" title="這位立委的表決投票紀錄">{% include "common/ly_color_by_party.html" %}</a></td>
            {% endwith %}
		    {% endfor %}		
		{% endfor %}	
	        {% include "common/color_info_of_party.html" with column=col %}	
	        {% endwith %}
	    </table>
	    <hr>
	    <div class="fb-comments" data-width="600" data-num-posts="3" href={{current_url}}></div>
	{% endif %}	
        </div><!--end: span6 -->	
    </div><!--end: row-fluid -->	
{% endblock right %}
{% block backtotop %}	
    {{ block.super }}  
{% endblock backtotop %}
{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/Chart.js"></script>
    <script>
        var data = [
	    {% for decision in vote_addup %}
	    {
                value: {{decision.legislator__count}},
                {% ifequal decision.decision -1 %}
                        color:"#FF99CC",
                {% endifequal %}
                {% ifequal decision.decision 1 %}
                        color:"#CCFF99",
                {% endifequal %}
                {% ifequal decision.decision 0 %}
                        color:"#999999"
                {% endifequal %}
	    },
	    {% endfor %}			
        ]
        var options = {
            animation: false,
        };
        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Pie(data,options);
        $(document).ready( function() {
	    $("[rel='tooltip']").tooltip();
        });	
    </script>
{% endblock script %}
