{% extends "base.html" %}
{% load ly_extras %}
{% load highlight %}

{% block title %}
    {% if index == 'conscience' %}
        <title>立委投票指南:脫黨表決檢索</title>
        <meta property="og:title" content="立委投票指南:脫黨表決檢索"/>
        <meta itemprop="name" content="立委投票指南:脫黨表決檢索">
    {% else %}
        <title>立委投票指南:全表決檢索</title>
        <meta property="og:title" content="立委投票指南:全表決檢索"/>
        <meta itemprop="name" content="立委投票指南:全表決檢索">
    {% endif %}
{% endblock %}

{% block right %}
    <div class="span2">
    </div>
    <div class="span8">
        {% include "common/search_keyword_form.html" with placeholder_text="例:核四 食品安全" %}
        {% if hot_keyword %}
        <h4>熱門搜尋：
            {% for keyword in hot_keyword %}
            <a href="{% url 'vote:votes' index=index %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
            {% endfor %}
        </h4>
        {% endif %}
        <div class="well well-small">
            <font class="lead">第六屆(2005)至今有 {{ votes|length }} 個
            {% if keyword %}有關<font style="color: red;">"{{keyword}}"</font>的
            {% endif %}
            {% if index == 'conscience' %}<b>脫黨</b>
            {% endif %}
            表決
            </font>
        </div>

        {% if votes %}
        {% load pagination_tags %}
        {% autopaginate votes 100 %}
        {% paginate %}
        <ul class="media-list">
            {% for fragment in votes %}
                {% include "vote/vote_summary.html" %}
            {% endfor %}
        </ul>
        {% paginate %}
        {% endif %}
    </div>
    <div class="span2">
    </div>
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#vote').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
