{% extends "base.html" %}
{% load ly_extras %}

{% block title %}
    <title>立委投票指南: {{ad|ad_year}}{{county}}候選人</title>
    <meta property="og:title" content="立委投票指南: {{ad|ad_year}}{{county}}候選人"/>
    <meta itemprop="name" content="立委投票指南: {{ad|ad_year}}{{county}}候選人">
    <link href="//cdnjs.net/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet">
    <script src="//semantic-ui.com/dist/semantic.min.js"></script>
{% endblock title %}

{% block right %}
    <div class="hero-unit row hidden-phone" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{ad|ad_year}} {{county}}</h2>
        {% if duplicates %}
        <br>
        <h4>不確定是第幾選區嗎？請點擊以下有重複的地名查看你所屬的鄉里：</h4>
        <ul class="inline">
        {% for duplicate in duplicates %}
            <li><a href=".#{{duplicate.district}}">{{duplicate.district}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="four column doubling ui grid row">
            {% for district in districts %}
            <div class="column direct-container">
            <a href="{% url 'candidates:district' county=county ad=ad constituency=district.constituency %}" class="direct-item {% cycle 'council-bluegreen' 'council-darkbluegreen' %}">
                <h4>{{district.constituency|stringformat:"02d"}}. {{district.district}}</h4>
                <div>&nbsp;</div>
                <div class="direct-sub">
                    <p class="county-candidate">{{district.candidates}}</p>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div class="description">
            <dl class="dl-horizontal">
            {% for duplicate in duplicates %}
            <dt id="{{duplicate.district}}" style="padding-top: 60px; margin-top: -60px;"><h3>{{duplicate.district}}</h3></dt>
            <dd>
                {% for region in duplicate.detail %}
                <ul class="inline">
                    <strong><a href="{% url 'candidates:district' county=county ad=ad constituency=region.constituency %}">第{{region.constituency}}選區</a></strong>
                    {% if forloop.last %}
                    <a type="button" data-toggle="collapse" data-target="#ref_duplicate_{{duplicate.district}}_{{region.constituency}}">其餘的鄉里...</a>都屬此選區
                    <div id="ref_duplicate_{{duplicate.district}}_{{region.constituency}}" class="collapse in">
                        {% for village in region.villages %}
                        {{village}}
                        {% endfor %}
                    </div>

                    {% else %}
                        {% for village in region.villages %}
                        <li>{{village}}</li>
                        {% endfor %}
                    {% endif %}
                    <br>
                </ul>
                {% endfor %}
            </dd>
            {% endfor %}
            </dl>
        </div>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $(".collapse").collapse()
        });
    </script>
{% endblock script %}
