{% extends "base.html" %}
{% load ly_extras %}

{% block title %}
    <title>立委投票指南: {{ad|ad_year}} {{county}} - {{candidates.0.district}}候選人</title>
    <meta property="og:title" content="立委投票指南: {{ad|ad_year}}{{county}} - {{candidates.0.district}}候選人"/>
    <meta itemprop="name" content="立委投票指南: {{ad|ad_year}}{{county}} - {{candidates.0.district}}候選人">
{% endblock title %}

{% block right %}
    <div class="description span12 hidden-phone">
        <h3>{{ad|ad_year}} {{county}} - {{candidates.0.district}} 候選人
        <a class="pull-right" href="{% url 'candidates:districts' county=county ad=ad %}">☞ 其他選區</a>
        </h3>
        <span>得票、學經歷、政見來自中選會，資料取得時間：{{update_at}}</span>
    </div>
    <div class="row-fluid">
        {% if candidates_previous %}
        <button type="button" class="btn btn-moonc" data-toggle="collapse" data-target="#ref_candidates_previous"><font class="lead">{{ad|subtract:1|ad_year:1}} 立委選舉得票狀況 <i class="fa fa-angle-down"></i></font></button>
        <div id="ref_candidates_previous" class="collapse in">
        <table class="table table-bordered table-condensed table-striped sortable" >
            <thead>
                <tr style="font-weight:bold;background-color: #E1D0D0;">
                    <th rowspan="2">當選註記</th>
                    <th rowspan="2">表決立場 <a rel="tooltip" title="立場由網友自行標註、投票產生，歡迎一起讓資料更好" data-placement="right"><i class="fa fa-question-circle"></i></a></li>
                    </th>
                    <th rowspan="2">候選人</th>
                    <th rowspan="2">黨籍</th>
                    <th rowspan="2">性別</th>
                    <th rowspan="2">出生年次</th>
                    <th rowspan="2">選前最近任期</th>
                    <th rowspan="2">得票數</th>
                    <th rowspan="2">得票率</th>
                    <th colspan="3">競選政治獻金</th>
                    <th rowspan="2">財產申報</th>
                </tr>
                <tr style="background-color: #CCFFCC;">
                    <th>收入</th>
                    <th>支出</th>
                    <th>餘額</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates_previous %}
                    <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.elected %}
                                <span class="badge badge-warning">◎</span>
                            {% endif %}
                        </td>
                        <td style="vertical-align:middle;">
                            {% with sp=standpoints|json_lookup:candidate.id %}
                            {% if sp %}
                                {% for standpoint in sp %}
                                    {{standpoint.title}}：{{standpoint.times}}次{{standpoint.decision}}<br>
                                {% endfor %}
                                <a href="{% url 'legislator:voter_standpoints' legislator_id=candidate.legislator_uid ad=candidate.latest_ad %}" >看更多...</a>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.legislator_uid %}
                                {% if candidate.latest_ad > 5 %}
                                    <a href="{% url 'legislator:voter_standpoints' legislator_id=candidate.legislator_uid ad=candidate.latest_ad %}">{{candidate.name}}</a>
                                {% else %}
                                    <a href="{% url 'legislator:info' legislator_id=candidate.legislator_uid ad=candidate.latest_ad %}">{{candidate.name}}</a>
                                {% endif %}
                            {% else %}
                                {{candidate.name}}
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {{candidate.party}}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {{candidate.gender}}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {{candidate.candidate.birth|date:"Y"}}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.latest_term_id %}
                                {{candidate.latest_term.ad|ad_year}}
                                {% if candidate.latest_term.ad > 7 %}
                                    <a href="{% url 'legislator:platformer_detail' legislator_id=candidate.latest_term.legislator_id ad=candidate.latest_term.ad %}"><br>（當時競選政見）</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {{candidate.votes}}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% widthratio candidate.votes_percentage 1 100 %} ％
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.politicalcontributions %}
                                <a href="{% url 'candidates:political_contributions' id=candidate.id %}#d3_in"><font class="price">{{candidate.politicalcontributions.in_total}}</font></a>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.politicalcontributions %}
                                <a href="{% url 'candidates:political_contributions' id=candidate.id %}#d3_out"><font class="price">{{candidate.politicalcontributions.out_total}}</font></a>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.politicalcontributions %}
                                <font class="price">{{candidate.politicalcontributions.balance}}</font>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.legislator_uid %}
                                <a href="http://sunshine.cy.g0v.tw/people/{{candidate.name}}/property/overview/" target="_blank">{{candidate.name}}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        <hr>
        {% if candidates %}
        <table class="table table-bordered table-condensed table-striped sortable" >
            <thead>
                <tr style="font-weight:bold; background-color: #9F0050;">
                    <th colspan="13" class="lead" style="color: #eeeeee; padding-top: 10px; padding-bottom: 10px">{{ad|ad_year:1}} 立委候選人</th>
                </tr>
                <tr style="font-weight:bold;background-color: #E1D0D0;">
                    <th>當選註記</th>
                    <th>得票數</th>
                    <th>得票率</th>
                    <th>候選人</th>
                    <th>黨籍</th>
                    <th>年齡</th>
                    <th>表決立場 <a rel="tooltip" title="立場由網友自行標註、投票產生，歡迎一起讓資料更好"><i class="fa fa-question-circle"></i></a></th>
                    <th>最近任期</th>
                    <th>主提案數</th>
                    <th>投票缺席率（%）</th>
                    <th>院會缺席次數</th>
                    <th>財產申報</th>
                    <th>議員資料</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                    <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.elected %}
                                <span class="badge badge-warning">◎</span>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.votes}}</td>
                        <td style="text-align:center; vertical-align:middle;">{% widthratio candidate.votes_percentage 1 1 %} ％</td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.name}}</td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.party}}</td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.candidate.birth|age}}</td>
                        {% if candidate.latest_term_id %}
                        <td style="vertical-align:middle;">
                        {% with sp=standpoints|json_lookup:candidate.id %}
                        {% if sp %}
                            {% for standpoint in sp %}
                                {{standpoint.title}}：{{standpoint.times}}次{{standpoint.decision}}<br>
                            {% endfor %}
                            <a href="{% url 'legislator:voter_standpoints' legislator_id=candidate.legislator_uid ad=candidate.latest_ad %}" >看更多...</a>
                        {% endif %}
                        {% endwith %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                        {{candidate.latest_term.term_start|date:"Y"}}~
                        {% if candidate.latest_term.term_end.date %}
                        {{candidate.latest_term.term_end.date|year_tmp}}
                        {% endif %}
                        {% if candidate.latest_term.ad > 7 %}
                            <a href="{% url 'legislator:platformer_detail' legislator_id=candidate.latest_term.legislator_id ad=candidate.latest_term.ad %}"><br>（當時競選政見）</a>
                        {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                        {% if candidate.latest_term.ad > 1 %}
                            {{candidate.latest_term.bill_param.sponsor}}
                            <a href="{% url 'legislator:biller_detail' legislator_id=candidate.latest_term.legislator_id ad=candidate.latest_term.ad %}"><br>（看提案）</a>
                        {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                        {% if candidate.latest_term.ad > 5 %}
                            {{candidate.latest_term.vote_param.not_voting}} 次<br>（投票缺席率{{candidate.latest_term.vote_param.not_voting|divide:candidate.latest_term.vote_param.total}} %）
                            <a href="{% url 'legislator:voter_standpoints' legislator_id=candidate.latest_term.legislator_id ad=candidate.latest_term.ad %}"><br>（看表決）</a>
                        {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                        {% if candidate.latest_term.ad > 5 %}
                            {{candidate.latest_term.attendance_param.absent}} 次<br>（缺席率{{candidate.latest_term.attendance_param.absent|divide:candidate.latest_term.attendance_param.total}} %）
                        {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                            <a href="http://sunshine.cy.g0v.tw/people/{{candidate.name}}/property/overview/" target="_blank">{{candidate.name}}</a>
                        </td>
                        {% else %}
                        <td colspan="6" style="text-align:center; vertical-align:middle;">
                        {% if candidate.cec_data.drawno %}
                        未擔任過立委，所以沒有過去紀錄，可參考下方<a href=".#{{candidate.name}}">學經歷、政見</a>等資訊
                        {% endif %}
                        </td>
                        {% endif %}

                        {% if candidate.councilor %}
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.councilor.elected %}
                            <span class='badge badge-success'><h4>當選議員</h4></span>
                            {% endif %}
                            <a href="http://councils.g0v.tw/candidates/2014/{{candidate.councilor.county}}/{{candidate.councilor.constituency}}/" target="_blank">參選{{candidate.councilor.county}}議員紀錄</a>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if candidates.0.cec_data.drawno %}
        <br>
        <div >
            {% for candidate in candidates %}
            <div class="row" id="{{candidate.name}}">
                <div class="span4">
                    <h4>
                        <span class='badge badge-success'>{{candidate.number}} 號</span>
                        {{candidate.name}}&nbsp;
                        <a href=".#{{candidate.name}}"><i class="fa fa-link"></i></a>
                    </h4>
                    <div class="text-center"><img class="candidate-photo" src="http://g0v-data.github.io/cec-crawler/images/{{candidate.cec_data.cityno}}-{{candidate.cec_data.cityname|urlencode}}-{{candidate.cec_data.sessionname|urlencode}}-{{candidate.cec_data.drawno}}-{{candidate.cec_data.candidatename|urlencode}}.jpg"></div>
                    <div class="property-header">黨籍</div>
                    <div class="property-body">{{candidate.party}}</div>
                    <div class="property-header">出生地</div>
                    <div class="property-body">{{candidate.cec_data.placecityname}}</div>
                    <div class="property-header">學歷</div>
                    <div class="property-body">{{candidate.cec_data.rptedu|safe|linebreaks}}</div>
                    <div class="property-header">經歷</div>
                    <div class="property-body">{{candidate.cec_data.rptexp|safe|linebreaks}}</div>
                </div>
                <div class="span8">
                    <h4 class="political-opinion-header">政見</h4>
                    <div class="political-opinion-body">
                        {{candidate.cec_data.rptpolitics|safe|linebreaks}}
                    </div>
                </div>
            </div>
            <hr class="candidates-separator">
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $(document).ready( function() {
            $("[rel='tooltip']").tooltip();
            $(".collapse").collapse()
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            })
        });
    </script>
{% endblock script %}
