{% extends "base.html" %}
{% load ly_extras %}

{% block title %}
    {% if candidate %}
        <title>立委投票指南:{{candidate.name}}的政治獻金</title>
        <meta property="og:title" content="立委投票指南:{{candidate.name}}的政治獻金"/>
        <meta itemprop="name" content="立委投票指南:{{candidate.name}}的政治獻金">
    {% else %}
        <title>立委投票指南:立委的政治獻金</title>
        <meta property="og:title" content="立委投票指南:立委的政治獻金"/>
        <meta itemprop="name" content="立委投票指南:立委的政治獻金">
    {% endif %}
{% endblock title %}

{% block right %}
    {% if candidate.county == '全國不分區' or candidate.county == '僑居國外國民' %}
        <p>登記為全國不分區、僑居國外國民立法委員選舉之候選人不得收受政治獻金。<a href="http://homepage.vghtpe.gov.tw/~ged/top2/top2_e13.htm" target="_blank">詳請參見問答第21</a></p>
    {% else %}
    <div align="center">
        <br>
        <div id="d3_in" class="hero-unit">
            <h4 class="muted">{{candidate.name}}第{{candidate.ad}}屆的政治獻金</h4>
            <h5>收入：<span class="price text-right">{{candidate.politicalcontributions.in_total}}</span>元</h5>
        </div>
            <br>
        <div id="d3_out" class="hero-unit">
            <h4 class="muted">{{candidate.name}}第{{candidate.ad}}屆的政治獻金</h4>
            <h5>支出：<span class="price text-right">{{candidate.politicalcontributions.out_total}}</span>元</h5>
        </div>
    </div>
    {% endif %}
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% include "legislator/d3/personal_politicalcontributions_in_pie_chart.html" with data=candidate.politicalcontributions.in %}
    {% include "legislator/d3/personal_politicalcontributions_out_pie_chart.html" with data=candidate.politicalcontributions.out %}
    <script>
        $(document).ready( function() {
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 2});
                $(ele).replaceWith(zh_number)
            });
            relax_in();
            relax_out();
        });
    </script>
    {{ block.super }}
{% endblock script %}
