{% load ly_extras %}
<style>

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: red;
    }

    .bar:hover {
        fill: orangered ;
    }
    .bar_compare {
        fill: orange;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .x.axis path {
        display: none;
    }

    .x.axis text {
        font-size: 14px;
    }

    .y.axisRight text {
        fill: orange;
    }

    .y.axisLeft text {
        fill: red;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
<script>

    var data = {{data|as_json}}

    var margin = {top: 30, right: 80, bottom: 120, left: 120},
    width = 1080 - margin.left - margin.right,
    height = 480 - margin.top - margin.bottom;

    var formatPercent = d3.format(".0%");

    var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
    .range([height, 0]);

    var yRight = d3.scale.linear()
    .range([height, 0]);

    var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

    var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

    var yAxisRight = d3.svg.axis()
    .scale(yRight)
    .orient("right");

    var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<strong>" + d.name + "</strong> ：<span style='color:red'>" + d.totalNum + "</span>元";
    });

    var tip_compare = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<strong>" + d.name + "</strong> ：<span style='color:red'>" + d.compare + "</span>次";
    });

    var svg = d3.select("#d3").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.call(tip);
    svg.call(tip_compare);

    x.domain(data.map(function(d) { return d.name; }));
    y.domain([Math.min(0, d3.min(data, function(d) { return d.totalNum; })), d3.max(data, function(d) { return d.totalNum; })]);
    yRight.domain([0, d3.max(data, function(d) { return d.compare; })]);

    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", function(d) {
        return "rotate(-45)"
    });

    svg.append("g")
    .attr("class", "y axis axisLeft")
    .call(yAxis)
    .append("text")
    .style("text-anchor", "end")
    .text("(元)");

    svg.append("g")
    .attr("class", "y axis axisRight")
    .attr("transform", "translate(" + (width) + ",0)")
    .call(yAxisRight)
    .append("text")
    .style("text-anchor", "end")
    .text("(次)");

    var legislator = svg.selectAll(".legislator")
    .data(data);

    var barGroup = legislator.enter().append("g")
    .attr("class", "g")

    barGroup.append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.name) + x.rangeBand()/6 - 0.5; })
    .attr("width", x.rangeBand()/3)
    .attr("y", function(d) { return y(Math.max(0, d.totalNum)); })
    .attr("height", function(d) { return Math.abs(y(0) - y(d.totalNum)); })
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);

    barGroup.append("rect")
    .attr("class", "bar_compare")
    .attr("x", function(d) { return x(d.name) + x.rangeBand()/2 + 0.5; })
    .attr("width", x.rangeBand()/3)
    .attr("y", function(d) { return yRight(d.compare); })
    .attr("height", function(d) { return height - yRight(d.compare); })
    .on('mouseover', tip_compare.show)
    .on('mouseout', tip_compare.hide);

    var legend = svg.select(".barGroup:last-child").selectAll(".legend")
    .enter().append("g")
    .attr("class", "g")
    .attr("transform", function(d) { return "translate(" + x.rangeBand() / 2 + "," + y(d.totalNum / 2) + ")"; });

    legend.append("line")
    .attr("x2", 10);

    legend.append("text")
    .attr("x", 13)
    .attr("dy", ".35em")
    .text(function(d) { return d.name; });

</script>
