<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "base.html" %}
{% block title %}
    {% if proposal %}
        <title>立委投票指南:{{ proposal.primary_proposer.0.name }}的單一提案</title>
        <meta property="og:title" content="立委投票指南:{{ proposal.primary_proposer.0.name }}的單一提案"/>
        <meta itemprop="name" content="立委投票指南:{{ proposal.primary_proposer.0.name }}的單一提案">	
    {% else %}
        <title>立委投票指南:單一提案</title>
        <meta property="og:title" content="立委投票指南:單一提案"/>
        <meta itemprop="name" content="立委投票指南:單一提案">	
    {% endif %}	
{% endblock %}
{% block right %}
    <div class="page-header text-center">
        {% if proposal %}<h3>{{ proposal.primary_proposer.0.name }}的附帶決議、臨時提案</h3>{% endif %}
    </div>
    <div class="row-fluid">
        <div class="span7">
        <br>
	{% if proposal %}
	    <div class="hero-unit">
		<div class="fb-like" data-width="50" data-layout="box_count" data-show-faces="false" data-send="false" href="{{current_url}}"></div>
		<p class="text-success">提案日期：{{ proposal.date|date:"Y-m-d" }}</p>
		<p class="lead">{{proposal.content|linebreaksbr }}</p>
	    </div>			
	{% endif %}
        </div><!--end: span7 -->
        <div class="span5">
	    <br>
	    {% if proposal %}
		<table class="table table-bordered">
                    <tr style="text-align:center; font-weight:bold;background-color: #FFFFCC;">
                        <td>共同提案人</td>
                        <td>主提案數</td>
                        <td>縣市</td>
                        <td>行政區</td>
                        <td>委員會</td>
                    </tr>
		    {% for ly in proposal.sorted_proposer_set %}
                        <tr>
                            <td><a href="{% url 'legislator:proposer_detail' ly.legislator_id %}" rel="tooltip" title="這個立委的提案">{% include "common/ly_color_by_party.html" %}</a></td>
                            <td>{{ly.npriproposer}}</td>
                            <td>{{ly.district}}</td>
                            <td>{% if ly.districtDetail %}{{ly.districtDetail}}{% endif %}</td>
                            <td>{{ly.committee}}</td>
                        </tr>
		    {% endfor %}
                    {% include "common/color_info_of_party.html" with column=5 %}
                </table>	
	    {% endif %}	
	    <hr>	
	    <div class="fb-comments" data-width="400" data-num-posts="5" href={{current_url}}></div>
        </div><!--end: span5 -->
    </div><!--end: row-fluid -->
{% endblock %}
{% block backtotop %}	
    {{ block.super }}  
{% endblock backtotop %}
{% block script %}
	<script>
	$(document).ready( function() {
		$('#psearch').addClass('active');
		$("[rel='tooltip']").tooltip();
	});
	</script>
{% endblock script %}
