{% extends "base.html" %}
{% load ly_extras %}
{% block title %}
<title>立委投票指南:全提案檢索</title>
<meta property="og:title" content="立委投票指南:全提案檢索"/>
<meta itemprop="name" content="立委投票指南:全提案檢索">
{% endblock %}
{% block right %}
<div class="span10">
    <br>
    {% include "common/search_keyword_form.html" with placeholder_text="例:核四 食品安全...空格有交集效果" %}
    {% if keyword_obj %}
    <h4>熱門：
        {% for keyword in keyword_obj %}
        {% if forloop.counter0 < 5 %}
        <a href="{% url 'proposal:proposals' keyword %}" rel="tooltip" title="包含此關鍵字的立委提案"><font style="color: {% cycle '#0099CC' '#009933' %};">{{keyword}}&nbsp;</font></a>
        {% endif %}
        {% endfor %}
    </h4>
    {% endif %}
    <div class="well well-small">
        {% if keyword %}
        <p class="lead">有 {{ proposal|length }} 個包含<font style="color: red;">"{{keyword}}"</font>的附帶決議、臨時提案</p>
        {% else %}
        <p class="lead">最新的 {{ proposal|length }} 個附帶決議、臨時提案</p>
        {% endif %}
    </div>
    {% if proposal %}
    {% load pagination_tags %}
    {% autopaginate proposal 10 %}
    {% paginate %}
    {% include "common/proposals.html" %}
    {% paginate %}
    {% endif %}
</div>
{% endblock right %}
{% block backtotop %}
{{ block.super }}
{% endblock backtotop %}
{% block script %}
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/sorttable.js"></script>
{% include "common/keyword_auto_complete.html" %}
<script>
    $(document).ready( function() {
        $('#psearch').addClass('active');
        $("[rel='tooltip']").tooltip();
    });
</script>
{% endblock script %}
