<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/nav_base.html" %}
{% block title %}
    {% if bill %}
        <title>立委投票指南:{{ bill.title }}</title>
        <meta property="og:title" content="立委投票指南:{{ bill.title }}"/>
        <meta itemprop="name" content="立委投票指南:{{ bill.title }}">	
    {% else %}
        <title>立委投票指南:法條修正對照表</title>
        <meta property="og:title" content="立委投票指南:法條修正對照表"/>
        <meta itemprop="name" content="立委投票指南:法條修正對照表">	
    {% endif %}	
{% endblock title %}
{% block right %}
    <div class="page-header text-center">
        {% if bill %}<h3>{{bill.title}}</h3>{% endif %}
    </div>
    <div class="row-fluid">
        <div class="span7">
        <br>
	{% if bill %}	
	    <table class="table table-bordered">
		<thead>
		    <tr style="text-align:center; font-weight:bold;background-color: #FFCCFF;">
                        <th style="width: 10%">法條</th>
                        <th style="width: 30%">修正(增訂)條文</th>
                        <th style="width: 30%">現行條文</th>
                        <th style="width: 30%">說明</th>
                    </tr>
		</thead>		
		<tbody>
		    {% for fragment in bill.billdetail_set.all %}
			<tr style="background-color: {% cycle '#EEEEEE' 'white' %};">
			    <td>{{ fragment.article }}</td>
			    <td>{{fragment.after|safe|linebreaksbr}}</td>
			    <td>{% if fragment.before %}{{fragment.before|safe|linebreaksbr}}{% endif %}</td>
			    <td>{{ fragment.description|linebreaksbr }}</td>		
			</tr>
		    {% endfor %}		
		</tbody>
	    </table>		
	{% endif %}
        </div><!--end: span7 -->
        <div class="span5">
	    <br>
	    {% if bill %}
		<table class="table table-bordered">
                    <tr style="text-align:center; font-weight:bold;background-color: #FFFFCC;">
                        <td>共同提案人</td>
                        <td>法條修正草案數</td>
                        <td>縣市</td>
                        <td>行政區</td>
                        <td>委員會</td>
                    </tr>
		    {% for ly in bill.sorted_proposer_set %}
                        <tr>
                            <td><a href="{% url 'legislator:biller_detail' ly.id %}" rel="tooltip" title="{{ly.name}}的所有法條修正草案">{% include "common/ly_color_by_party.html" %}</a></td>
                            <td>{{ly.npribill}}</td>
                            <td>{{ly.district}}</td>
                            <td>{% if ly.districtDetail %}{{ly.districtDetail}}{% endif %}</td>
                            <td>{{ly.committee}}</td>
                        </tr>
		    {% endfor %}
                    {% include "common/color_info_of_party.html" with column=5 %}
                </table>
	    {% endif %}		
	    <div class="fb-like" data-width="50" data-layout="box_count" data-show-faces="false" data-send="false" href="{{current_url}}"></div>
	    <hr>	
	    <div class="fb-comments" data-width="400" data-num-posts="5" href={{current_url}}></div>
        </div><!--end: span5 -->
    </div><!--end: row-fluid -->
{% endblock right %}
{% block backtotop %}	
    {{ block.super }}  
{% endblock backtotop %}
{% block script %}
	<script>
	$(document).ready( function() {
		$('#psearch').addClass('active');
		$("[rel='tooltip']").tooltip();
	});
	</script>
{% endblock script %}
