{% extends "common/ly_info.html" %}
{% load ly_extras %}

{% block title %}
    {% if ly %}
        <title>立委投票指南:{{ly.name}}的法條修正草案</title>
        <meta property="og:title" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的法條修正草案"/>
        <meta itemprop="name" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的法條修正草案">
    {% endif %}
{% endblock title %}

{% block ly_detail %}
    <form action="" method="get" class="form-search" id="form">
        <fieldset>
            <input type="search" name="keyword" id="keyword" class="span5" maxlength="20" placeholder="例:軍事審判 土地徵收 會計法" autofocus>
            <button type="submit" class="btn">Go!</button>
        </fieldset>
    </form>
    {% if keyword_obj %}
    <h4>熱門：
        {% for keyword in keyword_obj %}
        {% if forloop.counter0 < 5 %}
        <a href="{% url 'legislator:biller_detail' legislator_id=ly.legislator_id ad=ly.ad %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的修正草案"><font style="color: {% cycle '#9999FF' '#99CCCC' '#99CC99' '#999966' '#99CC33' %};">{{keyword}}&nbsp;</font></a>
        {% endif %}
        {% endfor %}
    </h4>
    {% endif %}
    <div class="well well-small">
        {{ly.name}}（{{ly.ad|ad_year}}）：{{ bills|length }}個
        {% if keyword %}
        包含<font style="color: red;">"{{keyword}}"</font>的
        {% endif %}法條修正草案
    </div>
    {% if bills %}
        {% load pagination_tags %}
        {% autopaginate bills 10 %}
        {% paginate %}
        {% include "common/bills.html" %}
        {% paginate %}
    {% endif %}
{% endblock ly_detail %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#url_bill').addClass("btn-info");
        });
    </script>
    {{ block.super }}
{% endblock script %}
