{% extends "base.html" %}
{% load ly_extras %}

{% block title %}
    <title>立委投票指南:{{committee}}的立委</title>
    <meta property="og:title" content="立委投票指南:{{committee}}的立委"/>
    <meta itemprop="name" content="立委投票指南:{{committee}}的立委">
{% endblock title %}

{% block right %}
    <div class="page-header text-center">
        <h3>台灣第八屆立委<small>(2012~2016)</small></h3>
    </div>
    <h4 class="text-center text-warning">{{committee}}</h4>
    {% if ly_list %}
        <table class="table table-bordered table-condensed" >
            {% regroup ly_list by session as session_list %}
            {% for session in session_list %}
                <tr>
                    <td><div class="text-center">第{{session.grouper}}會期</div></td>
                    {% for fragment in session.list %}
                        {% with ly=fragment.legislator %}
                        <td><a href="{% url 'legislator:voter_standpoints' legislator_id=ly.legislator_id ad=ly.ad %}">{{ly.name}}</a></td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tr>
        </table>
        <table class="table table-bordered table-condensed table-striped" >
            <thead>
                <tr style="font-weight:bold;background-color: #CCFF99;">
                    <th>會期</th>
                    <th>擔當</th>
                    <th>立委</th>
                    <th>縣市</th>
                    <th>行政區</th>
                    <th>到職日期</th>
                    <th>院會缺席</th>
                    <th>法條修正草案數</th>
                    <th>沒投票表決</th>
                    <th>脫黨投票</th>
                </tr>
            </thead>
            <tbody>
                {% regroup ly_list by session as session_list %}
                {% for session in session_list %}
                    {% if forloop.counter == 1 %}
                    {% for fragment in session.list %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td><div class="text-center">{{session.grouper}}</div></td>
                            <td>
                                {% if fragment.chair %}
                                <div class="text-center">召集委員</div>
                                {% endif %}
                            </td>
                            {% with ly=fragment.legislator %}
                            <td><a href="{% url 'legislator:voter_standpoints' legislator_id=ly.legislator_id ad=ly.ad %}">{{ly.name}}</a></td>
                            <td><a href="{% url 'legislator:county' county=ly.county ad=ly.ad %}" >{{ly.county}}</a></td>
                            <td>{% if ly.district %}<abbr title="{{ ly.district }}">{{ ly.district|truncatechars:20 }}</abbr>{% endif %}</td>
                            <td>{{ly.term_start|date:"Y-m-d"}}</td>
                            <td><div class="text-center">{{ly.attendance_param.absent}} 次（{{ly.attendance_param.absent|divide:ly.attendance_param.total}} %）</div></td>
                            <td><div class="text-center">{{ly.bill_param.chief}}</div></td>
                            <td><div class="text-center">{{ly.vote_param.not_voting}} 次（{{ly.vote_param.not_voting|divide:ly.vote_param.total}} %）</div></td>
                            <td><div class="text-center">{{ly.vote_param.conflict}} 次（{{ly.vote_param.conflict|divide:ly.vote_param.total}} %）</div></td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
            {% include "common/color_info_of_party.html" with column=21 %}
        </table>
    {% else %}
        <p class="text-error">沒有立委</p>
    {% endif %}
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#ly').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
