{% extends "common/ly_info.html" %}
{% load ly_extras %}
{% load highlight %}

{% block title %}
    <title>立委投票指南:{{ly.name}}第{{ly.ad}}屆的投票表決紀錄</title>
    <meta property="og:title" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的投票表決紀錄"/>
    <meta itemprop="name" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的投票表決紀錄">
{% endblock title %}

{% block ly_detail %}
    {% include "common/search_keyword_form.html" with placeholder_text="例:核四 食品安全" advance_search="common/vote_conscience_checkbox.html" %}
    {% if keyword_obj %}
    <h4>熱門：
        {% for keyword in keyword_obj %}
        {% if forloop.counter0 < 5 %}
        <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: {% cycle '#9999FF' '#99CCCC' '#99CC99' '#999966' '#99CC33' %};">{{keyword}}&nbsp;</font></a>
        {% endif %}
        {% endfor %}
    </h4>
    {% endif %}
    <div class="well well-small">
        {{ly.name}}（{{ly.ad|ad_year}}）：
        {% if origin %}
            {% if ly.vote_param and ly.vote_param.total > 0 %}
                <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}?decision=agree">{{ly.vote_param.agree}}次贊成</a>&nbsp;,&nbsp;
                <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}?decision=abstain">{{ly.vote_param.abstain}}次棄權</a>&nbsp;,&nbsp;
                <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}?decision=disagree">{{ly.vote_param.disagree}}次反對</a>&nbsp;,&nbsp;
                <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}?decision=notvote">{{ly.vote_param.not_voting}}次沒有投票</a>&nbsp;,&nbsp;
            {% else %}
                {% if ly.ad > 5 %}
                    <p class="text-error">沒有參加任何表決</p>
                {% endif %}
            {% endif %}
        {% else %}
            {{votes|length}}個
            {% if keyword %}
                包含<font style="color: red;">"{{keyword}}"</font>的表決
            {% else %}
                搜尋結果
            {% endif %}
        {% endif %}
    </div>
    {% if votes %}
    {% load pagination_tags %}
    {% autopaginate votes 10 %}
    {% paginate %}
    <table class="table table-bordered zebra">
        <thead>
            <tr style="background-color: #FFFFCC;">
                <th style="width: 10%">個人投票</th>
                <th style="width: 10%">表決結果</th>
                <th style="width: 15%">日期</th>
                <th style="width: 65%">表決內容</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in votes %}
            <tr>
                {% with decision=vote.decision %}
                {% if decision == -1 %}
                <td style="text-align:center; vertical-align:middle; background-color: #FF66CC;">反對
                {% elif decision == 1 %}
                <td style="text-align:center; vertical-align:middle; background-color: #CCFF66;">贊成
                {% elif decision == 0 %}
                <td style="text-align:center; vertical-align:middle; background-color: #CCCCCC;">棄權
                {% else %}
                <td style="text-align:center; vertical-align:middle; background-color: #996600;">沒有投票
                    {% endif %}
                    {% endwith %}
                </td>
                {% with vote=vote.vote %}
                <td style="text-align:center; vertical-align:middle; background-color: #{{vote.result|vote_result:'td_bgcolor'}}">{{vote.result|vote_result:'cht'}}</td>
                <td style="text-align:center; vertical-align:middle;">{{ vote.sitting.date|date:"Y-m-d" }}</td>
                <td>
                    <a href="{% url 'vote:vote_detail' vote.uid %}" rel="tooltip" title="查看各立委投什麼票">查看投票名單和完整內容</a><br>
                    {% if keyword %}
                        <p>
                            <small class="muted">（前文略）</small>
                            {% highlight vote.content with keyword %}
                            <small class="muted">（後文略）</small>
                        </p>
                    {% else %}
                        {{vote.content|linebreaksbr|truncatechars:120}}
                    {% endif %}
                </td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}
{% endif %}
{% endblock ly_detail %}
{% block script %}
<script>
    $(document).ready( function() {
        $('#url_vote').addClass("btn-info");
        $("#advanced_search.collapse").collapse();
    });
</script>
{{ block.super }}
{% endblock script %}
