{% extends "common/ly_info.html" %}

{% block title %}
    <title>立委投票指南:{{ly.name}}第{{ly.ad}}屆的表決立場</title>
    <meta property="og:title" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的表決立場"/>
    <meta itemprop="name" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的表決立場">
{% endblock title %}

{% block ly_detail %}
    <ul class="media-list">
    {% for standpoint in standpoints %}
        <li class="media">
            <div class="media-body well">
                <div class="media-heading"><font class="lead">{{standpoint.title}}</font>：{{standpoint.times}}次{{standpoint.decision}}
                    &nbsp;&nbsp;<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#ref_vote{{forloop.counter}}">表決內容&nbsp;<b class="caret"></b></button>
                    <div id="ref_vote{{forloop.counter}}" class="collapse">
                    {% for fragment in standpoint.votes %}
                    <h4><a href="{% url 'vote:vote_detail' fragment.uid %}" target="_blank">☞ 表決{{forloop.counter}}<small>（覺得表決跟立場不符合嗎？點我來改進）</small></a></h4>
                        <blockquote>
                            <p>{{fragment.content}}</p>
                        </blockquote>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock ly_detail %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#url_vote').addClass("btn-info");
        });
    </script>
{% endblock script %}
