<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>	
<script>
    $(function() {
        var availableTags = [
            {% for keyword in keyword_obj %}
                "{{keyword}}",
            {% endfor %}
        ];
        $( "#keyword" ).autocomplete({
            source: availableTags,
            select: function(event, ui) {
                $(event.target).val(ui.item.value);
                $('#form').submit();
                return false;
            }	  
        });
    });
</script>

