<td class="name {{ly.county}} {{ly.gender}}">
    <div class="dropdown text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% if color %}{% include "common/ly_color_by_party.html" %}{% else %}{{ly.name}}{% endif %}</a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'legislator:personal_property' legislator_id=ly.legislator_id index='overview' %}">{{ly.name}}的財產申報紀錄</a></li>
            {% if ly.ad > 5 %}
                <li><a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad %}">{{ly.name}}的投票紀錄</a></li>
            {% else %}
                <li><a href="{% url 'legislator:voter_detail' ly.legislator_id %}">{{ly.name}}的投票紀錄</a></li>
            {% endif %}
            {% if ly.ad == 8 %}
                <li><a href="{% url 'legislator:biller_detail' ly.legislator_id %}">{{ly.name}}的法條修正草案</a></li>
                <li><a href="{% url 'legislator:proposer_detail' ly.legislator_id %}">{{ly.name}}的附帶提案</a></li>
                <li><a href="{% url 'legislator:platformer_detail' ly.legislator_id %}">{{ly.name}}的競選政見</a></li>
            {% endif %}
        </ul>
    </div>
</td>
