{% extends "base.html" %}
{% load staticfiles %}
{% load ly_extras %}

{% block title %}
{% endblock title %}

{% block right %}
    {% block top-menu %}
    {% endblock top-menu %}
    <div class="row-fluid">
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked">
                    <p class="lead">{{ ly.name }}</p>
                    <img src="{{ly.image}}" width="50%">
                    <li id='url_info'><a href="{% url 'legislator:info' legislator_id=ly.legislator_id ad=ly.ad %}"><i class="fa fa-info"> 基本資料</i></a></li>
                    <li id='url_property'><a href="http://sunshine.cy.g0v.tw/people/{{ly.name}}/property/overview/" target="_blank"><i class="fa fa-bank"> 個人財產申報</i></a></li>
                    <li id='url_vote'><a href="{% url 'legislator:voter_standpoints' legislator_id=ly.legislator_id ad=ly.ad %}"><i class="fa fa-balance-scale"> 表決</i></a></li>
                    <li id='url_polticalcontributions'><a href="{% url 'legislator:personal_political_contributions' legislator_id=ly.legislator_id ad=ly.ad %}"><i class="fa fa-dollar"> 政治獻金</i></a></li>
                    <li id='url_bill'><a href="{% url 'legislator:biller_detail' legislator_id=ly.legislator_id ad=ly.ad %}"><i class="fa fa-book"> 法條修正案</i></a></li>
                    <li id='url_politics'><a href="{% url 'legislator:platformer_detail' legislator_id=ly.legislator_id ad=ly.ad %}"><i class="fa fa-comment"> 競選政見</i></a></li>
                </ul>
            </div>
            <br>
        </div>
        <div id="content" class="span10" style="min-height: 700px; padding-bottom: 150px;">
            {% block ly_detail %}
            {% endblock ly_detail %}
            <hr>
            <div id="disqus_thread"></div>
        </div>
    </div>
{% endblock right %}
