{% extends "base.html" %}
{% block right %}
<div class="row-fluid">
    <div class="span3">
        <br>
        {% if ly %}
        <table class="table table-bordered">
            <thead>
                <th style="width: 40%"></th>
                <th style="width: 60%"></th>
            </thead>
            <tbody>
                {% if ly.image %}
                <tr>
                    <td colspan=2>
                        <div align="center">
                            <img src="{{ly.image}}" width="80%">
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td style="background-color: lightgrey;">屆期</td>
                    <td>
                        <font class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">第{{ly.ad}}屆<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for ad in ly.in_office_ad %}
                            <li><a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ad %}" ><b>第{{ad}}屆</b></a></li>
                            {% endfor %}
                        </ul>
                        <font>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">立委</td>
                    <td><b>{{ ly.name }}</b></td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">選區縣市</td>
                    <td><a href="{% url 'legislator:index_district' ly.county %}" rel="tooltip" title="查看該選區的立委">{{ly.county}}</a></td>
                </tr>
                {% if ly.district %}
                <tr>
                    <td style="background-color: lightgrey;">行政區</td>
                    <td><abbr title="{{ ly.district }}">{{ ly.district|truncatechars:10 }}</abbr></td>
                </tr>
                {% endif %}
                <tr>
                    <td style="background-color: lightgrey;">現任委員會</td>
                    <td>
                        {% if ly.in_office %}
                            {% if ly.current_committee %}
                            <a href="{% url 'legislator:index_committee' ly.current_committee %}" rel="tooltip" title="查看該委員會的立委" >
                                {{ ly.current_committee|truncatechars:7 }}
                            </a>
                            {% else %}
                            尚無資料
                            {% endif %}
                        {% else %}
                        已離職
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">到職日期</td>
                    <td>{{ ly.term_start|date:"Y-m-d" }}</td>
                </tr>
                {% if ly.ad > 7 %}
                <tr>
                    <td style="background-color: lightgrey;">法條修正草案數</td>
                    <td>{{ ly.npribill }} 個</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">附帶決議、臨時提案數</td>
                    <td>{{ ly.npriproposer }} 個</td>
                </tr>
                {% endif %}
                <tr>
                    <td style="background-color: lightgrey;">沒投票表決(次)</td>
                    <td>{{ly.notvote}} 次</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">脫黨表決(次)</td>
                    <td>{{ly.nconsciencevote}} 次</td>
                </tr>
                {% for contact in ly.contacts %}
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr style="background-color: {% cycle '#CCFF99' '#CCFFCC' '#FFFF99' %};">
                    <td colspan=2 style="text-align:center; vertical-align:middle;">{{contact.name}}</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey; text-align:center; vertical-align:middle;">地址</td>
                    <td>{{contact.address}}</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey; text-align:center; vertical-align:middle;">電話</td>
                    <td>{{contact.phone}}</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey; text-align:center; vertical-align:middle;">傳真</td>
                    <td>{{contact.fax}}</td>
                </tr>
                {% endfor %}
                {% if ly.education %}
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr style="background-color: #CCCC66 ;">
                    <td colspan=2 style="text-align:center; vertical-align:middle;">學歷</td>
                </tr>
                <tr>
                    <td colspan=2>{{ly.education|linebreaksbr}}</td>
                </tr>
                {% endif %}
                {% if ly.experience %}
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr style="background-color: #CCCC99;">
                    <td colspan=2 style="text-align:center; vertical-align:middle;">經歷</td>
                </tr>
                <tr>
                    <td colspan=2>{{ly.experience|linebreaksbr}}</td>
                </tr>
                {% endif %}
                {% if ly.links.ly %}
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">外部連結</td>
                    <td><a href="{{ ly.links.ly }}" target="_blank">{{ ly.name }}的立院官網</a></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="span9">
        <br>
        <div class="row-fluid">
            <div class="span12">
                <b>{{ ly.name }}</b>的&nbsp;
                <div class="btn-group">
                    <a id='url_vote' class="btn btn-primary btn-large dropdown-toggle" href="#" data-toggle="dropdown">投票紀錄 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad index='' %}" >全投票表決紀錄</a></li>
                        <li><a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id ad=ly.ad index='conscience' %}" >脫黨投票表決紀錄</a></li>
                    </ul>
                </div>
                {% if ly.ad > 7 %}
                <a class="btn btn-primary btn-large" id='url_bill' href="{% url 'legislator:biller_detail' ly.legislator_id %}">法條修正草案</a>
                <a class="btn btn-primary btn-large" id='url_proposal' href="{% url 'legislator:proposer_detail' ly.legislator_id %}">附帶決議、臨時提案</a>
                <a class="btn btn-primary btn-large" id='url_politics' href="{% url 'legislator:platformer_detail' ly.legislator_id %}">競選政見</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% block ly_detail %}
        {% endblock ly_detail %}
        <hr>
        <div class="fb-comments" data-width="480" data-num-posts="3" data-href="{{current_url}}"></div>
    </div>
</div>
{% endblock right %}
{% block script %}
{% include "common/keyword_auto_complete.html" %}
<script>
    $(document).ready( function() {
        $('#ly').addClass('active');
        $('.dropdown-toggle').dropdown();
        $("[rel='tooltip']").tooltip();
    });
</script>
{% endblock script %}
