{% extends "common/ly_info.html" %}
{% block title %}
{% if ly %}
<title>立委投票指南:{{ly.name}}的法條修正草案</title>
<meta property="og:title" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的法條修正草案"/>
<meta itemprop="name" content="立委投票指南:{{ly.name}}第{{ly.ad}}屆的法條修正草案">
{% else %}
<title>立委投票指南:立委的法條修正草案</title>
<meta property="og:title" content="立委投票指南:立委的法條修正草案"/>
<meta itemprop="name" content="立委投票指南:立委的法條修正草案">
{% endif %}
{% endblock title %}
{% block ly_detail %}
<form action="" method="get" class="form-search" id="form">
    <fieldset>
        <input type="search" name="keyword" id="keyword" class="span5" maxlength="20" placeholder="例:軍事審判 土地徵收 會計法...空格有交集效果" autofocus>
        <button type="submit" class="btn">Go!</button>
        <label class="checkbox text-success" >
            <input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %}>要包含<b class="text-info">{{ly.name}}</b>不是<b class="text-info">第一</b>提案人的草案嗎?
        </label>
    </fieldset>
</form>
{% if keyword_obj %}
<h4>熱門：
    {% for keyword in keyword_obj %}
    {% if forloop.counter0 < 5 %}
    <a href="{% url 'legislator:biller_detail' legislator_id=ly.legislator_id %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的修正草案"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
    {% endif %}
    {% endfor %}
</h4>
{% endif %}
<div class="well well-small">
    <font class="lead">
    {{ly.name}}(第{{ly.ad}}屆)：{{ bills|length }}個
    {% if keyword %}
    包含<font style="color: red;">"{{keyword}}"</font>的
    {% endif %}法條修正<small> 草案</small>
    </font>
</div>
{% if bills %}
{% load pagination_tags %}
{% autopaginate bills 10 %}
{% paginate %}
{% include "common/bills.html" %}
{% paginate %}
{% else %}
    {% if proposertype %}
    <p class="text-error">完全沒有草案</p>
    {% else %}
    「沒有{{ly.name}}是<b class="text-error">第一</b>提案人的草案，請<a href="{% url 'legislator:biller_detail' legislator_id=ly.legislator_id %}/?keyword=&proposertype=on">[按這裡]</a>切換到共同提案的草案」
    {% endif %}
{% endif %}
{% endblock ly_detail %}
{% block script %}
{% include "common/sorttable.html" %}
<script>
    $(document).ready( function() {
        $('#url_bill').removeAttr('href').addClass("btn-info");
        $('#proposertype').change(function() {
            $("#form").trigger('submit');
        });
    });
</script>
{{ block.super }}
{% endblock script %}
