{% extends "common/ly_info.html" %}
{% load ly_extras %}
{% block title %}
{% if ly %}
<title>立委投票指南:{{ly.name}}的提案</title>
<meta property="og:title" content="立委投票指南:{{ly.name}}的提案"/>
<meta itemprop="name" content="立委投票指南:{{ly.name}}的提案">
{% else %}
<title>立委投票指南:立委的提案</title>
<meta property="og:title" content="立委投票指南:立委的提案"/>
<meta itemprop="name" content="立委投票指南:立委的提案">
{% endif %}
{% endblock title %}
{% block ly_detail %}
<form action="" method="get" class="form-search" id="form">
    {% csrf_token %}
    <br>
    <fieldset>
        <input type="search" name="keyword" id="keyword" class="span5" maxlength="20" placeholder="例:核四 食品安全...空格有交集效果" autofocus>
        <button type="submit" class="btn">Go!</button>
        <label class="checkbox text-success">
            <input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %}>要包含<b class="text-info">{{ly.name}}</b>不是<b class="text-info">第一</b>提案人的提案嗎?
        </label>
    </fieldset>
</form>
{% if keyword_obj %}
<h4>熱門：
    {% for keyword in keyword_obj %}
    {% if forloop.counter0 < 5 %}
    <a href="{% url 'legislator:proposer_detail' legislator_id=ly.legislator_id keyword_url=keyword%}" rel="tooltip" title="包含此關鍵字的立委提案"><font style="color: {% cycle '#0099CC' '#009933' %};">{{keyword}}&nbsp;</font></a>
    {% endif %}
    {% endfor %}
</h4>
{% endif %}
<div class="well well-small">
    <p class="lead">{{ly.name}}：
    {{ proposal|length }}個
    {% if keyword %}
    包含<font style="color: red;">"{{keyword}}"</font>的
    {% endif %}臨時提案、附帶決議
    </p>
</div>
{% if proposal %}
{% load pagination_tags %}
{% autopaginate proposal 10 %}
{% paginate %}
{% include "common/proposals.html" %}
{% paginate %}
{% else %}
<p class="text-error">完全沒有提案</p>
{% endif %}
{% endblock ly_detail %}
{% block script %}
<script>
    $(document).ready( function() {
        $('#url_proposal').removeAttr('href').addClass("btn-inverse");
        $('#proposertype').change(function() {
            $("#form").trigger('submit');
        });
    });
</script>
{{ block.super }}
{% endblock script %}
