{% extends "common/ly_info.html" %}
{% load ly_extras %}
{% block title %}
{% if ly %}
{% if index == 'conscience' %}
<title>立委投票指南:{{ly.name}}的脫黨表決紀錄</title>
<meta property="og:title" content="立委投票指南:{{ly.name}}的脫黨表決紀錄"/>
<meta itemprop="name" content="立委投票指南:{{ly.name}}的脫黨表決紀錄">
{% else %}
<title>立委投票指南:{{ly.name}}的投票表決紀錄</title>
<meta property="og:title" content="立委投票指南:{{ly.name}}的投票表決紀錄"/>
<meta itemprop="name" content="立委投票指南:{{ly.name}}的投票表決紀錄">
{% endif %}
{% else %}
<title>立委投票指南:立委的投票表決紀錄</title>
<meta property="og:title" content="立委投票指南:立委的投票表決紀錄"/>
<meta itemprop="name" content="立委投票指南:立委的投票表決紀錄">
{% endif %}
{% endblock title %}
{% block ly_detail %}
<form action="" method="get" class="form-search" id="form">
    {% csrf_token %}
    <br>
    <fieldset>
        <input type="search" name="keyword" id="keyword" class="span5" maxlength="20" placeholder="例:核四 食品安全...空格有交集效果" autofocus>
        <button type="submit" class="btn">Go!</button>
        <label class="checkbox text-success">
            {% if index != 'conscience' %}<input type="checkbox" name="notvote" id="notvote" {% if notvote %} checked{% endif %}>{{ ly.name }}<b class="text-info">沒投票</b>的表決不要搜尋
            {% endif %}
        </label>
    </fieldset>
</form>
{% if keyword_obj and index != 'conscience'%}
<h4>熱門：
    {% for keyword in keyword_obj %}
    {% if forloop.counter0 < 5 %}
    <a href="{% url 'legislator:voter_detail' legislator_id=ly.legislator_id keyword_url=keyword %}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: {% cycle '#0099CC' '#009933' %};">{{keyword}}&nbsp;</font></a>
    {% endif %}
    {% endfor %}
</h4>
{% endif %}
<div class="well well-small">
    <p class="lead">{{ly.name}}的{% if index == 'conscience' %}<b>脫黨</b>{% endif %}表決紀錄：
    {% if keyword %}
    包含<font style="color: red;">"{{keyword}}"</font>的表決&nbsp;
    {% endif %}
    {% for decision in vote_addup %}
    {{decision.totalNum}}次
    {% if decision.decision == 1 %}<font color="#66CC66">贊成</font>&nbsp;,&nbsp;
    {% elif decision.decision == 0 %}<font color="#999999">棄權</font>&nbsp;,&nbsp;
    {% elif decision.decision == -1 %}<font color="#FF66CC">反對</font>
    {% else %}<font color="#996600">沒有投票</font>&nbsp;,&nbsp;
    {% endif %}
    {% empty %}
    {% if index == 'conscience' %}<p class="text-error">沒有任何脫黨投票紀錄</p>
    {% else %}<p class="text-error">沒有參加任何表決</p>
    {% endif %}
    {% endfor %}
    </p>
</div>
{% if votes %}
{% load pagination_tags %}
{% autopaginate votes 10 %}
{% paginate %}
<table class="table table-bordered sortable" >
    <thead>
        <tr style="font-weight:bold;background-color: #FFFFCC;">
            <th style="text-align:center; vertical-align:middle; width: 10%">個人投票</th>
            <th style="text-align:center; vertical-align:middle; width: 10%">表決結果</th>
            <th style="text-align:center; vertical-align:middle; width: 15%">日期</th>
            <th style="text-align:center; vertical-align:middle; width: 65%">表決內容</th>
        </tr>
    </thead>
    <tbody>
        {% for vote in votes %}
        <tr style="background-color: {% cycle '#DDDDDD' 'white' %};">
            {% with decision=vote.decision %}
            {% if decision == -1 %}
            <td style="text-align:center; vertical-align:middle; background-color: #FF66CC;">反對
                {% elif decision == 1 %}
                <td style="text-align:center; vertical-align:middle; background-color: #CCFF66;">贊成
                    {% elif decision == 0 %}
                    <td style="text-align:center; vertical-align:middle; background-color: #CCCCCC;">棄權
                        {% else %}
                        <td style="text-align:center; vertical-align:middle; background-color: #996600;">沒有投票
                            {% endif %}
                            {% endwith %}
                        </td>
                        {% with vote=vote.vote %}
                        {% if vote.passed %}<td style="text-align:center; vertical-align:middle; background-color: #CCFF99;">通過
                            {% else %}<td style="text-align:center; vertical-align:middle; background-color: #FF99CC;">不通過
                                {% endif %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;">{{ vote.sitting.date|date:"Y-m-d" }}</td>
                            <td>
                                <a href="{% url 'vote:vote_detail' vote.uid %}" rel="tooltip" title="查看各立委投什麼票">查看投票名單</a><br>
                                {% if keyword %}
                                {{vote.content|linebreaksbr|replace:keyword|safe}}
                                {% else %}
                                {{vote.content|linebreaksbr|truncatechars:120}}
                                {% endif %}
                            </td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
    </tbody>
</table>
{% paginate %}
{% endif %}
{% endblock ly_detail %}
{% block script %}
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/sorttable.js"></script>
<script>
    $(document).ready( function() {
        $('#url_vote').addClass("btn-inverse");
        $('#notvote').change(function() {
            $("#form").trigger('submit');
        });
    });
</script>
{{ block.super }}
{% endblock script %}
