<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/index/index.html" %}
{% block ly_table %}
    {% if ly_list %}
        <table class="table table-bordered table-condensed">
    	{% for ly in ly_list %}
	    {% ifchanged ly.committee %}
	    	</tr><tr style="background-color: {% cycle '#EEEEEE' 'white' %};">
		    <td><a href="{% url 'legislator:index_committee' ly.committee %}" class="btn btn-info btn-mini" rel="tooltip" title="{{ ly.committee }}委員會的所有立委詳細資料"><b>{{ ly.committee }}</b></a></td>	
	    {% endifchanged %}
            {% include "common/ly_dropdown.html" with color=True %}
        {% endfor %}
    	{% include "common/color_info_of_party.html" with column=16 %}							
	</table>
    {% else %}
    	<p class="text-error">沒有立委</p>
    {% endif %}
{% endblock ly_table %}
