{% extends "legislator/index/index.html" %}
{% load ly_extras %}

{% block ly_table %}
    <div class="description span12" style="margin-left: 1%;">
        <h3 class="text-warning">
            {{param.title}}率
        </h3>
        {% autoescape off %}
            {{param.description}}
        {% endautoescape %}
    </div>
    <table class="table table-bordered table-condensed">
        {% with col=15 %}
        {% if ly_list %}
            <tr>
                <td>{{param.title}}率</td>
                <td colspan="{{col|add:-1}}"></td>
            </tr>
            {% regroup ly_list by ranking as rankings %}
            {% for ranking in rankings %}
                <tr style="background-color: {% cycle 'EEEEEE' 'white' %};">
                    <td>{{ranking.grouper|floatformat}} % ~ {{ranking.grouper|add:10|floatformat}} %</td>
                    {% for ly in ranking.list %}
                        <td class="name {{ly.county}} {{ly.gender}}">
                            <a href="{% url param.url_class legislator_id=ly.legislator_id ad=ly.ad index=param.index %}" rel="tooltip" title="{{param.title}}率{{ly.percentage}} %（{{param.title}}{{ly.count}}次）">
                        {% include "common/ly_color_by_party.html" %}
                        </a>
                        </td>
                        {% if forloop.counter|divisibleby:col %}
                            </tr><td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        {% include "common/color_info_of_party.html" with column=col|add:1 %}
        {% endwith %}
    </table>
{% endblock ly_table %}
