<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/index/index.html" %}
{% load ly_extras %} 
{% block ly_table %}
    <h3 class="text-center text-warning">
    {% if index == 'biller' %}
        <form action="" method="get" class="form-inline text-center" id="form_bill">
            <fieldset>法條修正草案數(多&rarr;少)
            {% csrf_token %}
                <label class="checkbox">
                <input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %} rel="tooltip" title="計算草案數時，不是草案的主提案人也算嗎?(主提案人貢獻較高，其他人貢獻較低或只是掛名)">
                </label>
            </fieldset>
        </form>
    {% elif index == 'conscience_vote' %}脫黨投票表決數(多&rarr;少)
    {% else %}沒投票表決次數(多&rarr;少)
    {% endif %}
    </h3>               
    <table class="table table-bordered table-condensed">
        {% with col=20 %}
	{% if ly_list %}
	    {% for ly in ly_list %}
    		{% if forloop.counter0|divisibleby:20 %}
                    {% if forloop.counter0 != 0 %}</tr>{% endif %}                
                    <tr style="background-color: {% cycle 'EEEEEE' 'white' %};">
                        <td>{{forloop.counter}}~{{forloop.counter|add:19}}名</td>
		{% endif %}				
		<td>
                    {% if index == 'biller' %}
                        <a href="{% url 'legislator:biller_detail' ly.id %}" rel="tooltip" title="草案{{ly.totalNum}}個">
                    {% elif index == 'conscience_vote' %}
                        <a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='conscience' %}" rel="tooltip" title="脫黨投票{{ly.totalNum}}次">
                    {% else %}
                        <a href="{% url 'legislator:voter_detail' ly.id %}" rel="tooltip" title="沒投票{{ly.totalNum}}次">
	    	    {% endif %}
                    {% include "common/ly_color_by_party.html" %}
		    </a>
		</td>	
	    {% endfor %}
	{% endif %}
	{% if no_count_list %}
            <tr><td rowspan="{% widthratio no_count_list|length|add:9 col 1 %}" style="background-color: #FF99FF; text-align:center; vertical-align:middle; font-weight:bold;">0次</td>
            {% for ly in no_count_list %}
            {% if forloop.counter0|divisibleby:col and forloop.counter0 != 0 %} 
                    </tr>
                {% endif %}             
                <td style="background-color: #FFCCFF;">
                {% if index == 'biller' %}<a href="{% url 'legislator:biller_detail' ly.id %}" rel="tooltip" title="草案0個">
                {% elif index == 'conscience_vote' %}<a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='conscience' %}" rel="tooltip" title="脫黨投票0次">
                {% else %}<a href="{% url 'legislator:voter_detail' ly.id %}" rel="tooltip" title="沒投票0次">
                {% endif %}
                {% include "common/ly_color_by_party.html" %}
                </a>
                </td>	
            {% endfor %}					
	{% endif %}
        {% include "common/color_info_of_party.html" with column=21 %}
        {% endwith %}
    </table>
{% endblock ly_table %}
