{% extends "base.html" %}
{% load highlight %}

{% block title %}
    <title>立委投票指南</title>
    <meta property="og:title" content="立委投票指南"/>
    <meta itemprop="name" content="立委投票指南">
{% endblock %}

{% block right %}
    <div class="page-header hidden-phone" align="center">
        <h4><i class="fa fa-compass"> <b>減少盲目投票，讓民主社會的台灣更進步。</b></i></h2>
        <p>請輸入關鍵字，或你所關心的議題、立委</p>
    </div>
    <div class="span12">
        <div class="span2">
        </div>
        <div class="span4">
            <div>
                <h4><i class="fa fa-group fa-lg"></i> 找立委</h4>
                {% include "common/search_name_form.html" with placeholder_text="請輸入名稱" %}
            </div>
            <div class="btn-group">
                <a class="btn btn-moonc dropdown-toggle" href="#" data-toggle="dropdown">縣市 <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'candidates:districts' county='臺北市' ad=8 %}">臺北市</a></li>
                    <li><a href="{% url 'candidates:districts' county='新北市' ad=8 %}">新北市</a></li>
                    <li><a href="{% url 'candidates:districts' county='桃園縣' ad=8 %}">桃園縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='基隆市' ad=8 %}">基隆市</a></li>
                    <li><a href="{% url 'candidates:districts' county='宜蘭縣' ad=8 %}">宜蘭縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='新竹縣' ad=8 %}">新竹縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='新竹市' ad=8 %}">新竹市</a></li>
                    <li><a href="{% url 'candidates:districts' county='苗栗縣' ad=8 %}">苗栗縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='臺中市' ad=8 %}">臺中市</a></li>
                    <li><a href="{% url 'candidates:districts' county='南投縣' ad=8 %}">南投縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='嘉義市' ad=8 %}">嘉義市</a></li>
                    <li><a href="{% url 'candidates:districts' county='彰化縣' ad=8 %}">彰化縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='雲林縣' ad=8 %}">雲林縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='嘉義縣' ad=8 %}">嘉義縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='臺南市' ad=8 %}">臺南市</a></li>
                    <li><a href="{% url 'candidates:districts' county='高雄市' ad=8 %}">高雄市</a></li>
                    <li><a href="{% url 'candidates:districts' county='屏東縣' ad=8 %}">屏東縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='花蓮縣' ad=8 %}">花蓮縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='臺東縣' ad=8 %}">臺東縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='澎湖縣' ad=8 %}">澎湖縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='金門縣' ad=8 %}">金門縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='連江縣' ad=8 %}">連江縣</a></li>
                    <li><a href="{% url 'candidates:districts' county='全國不分區' ad=8 %}">全國不分區</a></li>
                    <li><a href="{% url 'candidates:districts' county='山地原住民' ad=8 %}">山地原住民</a></li>
                    <li><a href="{% url 'candidates:districts' county='平地原住民' ad=8 %}">平地原住民</a></li>
                </ul>
            </div>
        </div>
        <hr class="visible-phone">
        <div class="span4">
            <div>
                <h4><i class="fa fa-file-text fa-lg"></i> 找議題</h4>
                {% include "common/search_keyword_form.html" with placeholder_text="請輸入關心的議題" %}
            </div>
            <p>
            {% if hot_keyword %}
                <i class="fa fa-search"> 熱門搜尋：</i>
                    {% for keyword in hot_keyword %}
                        <a href="{% url 'home' %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決、法案"><b style="color: #9F0050;">{{keyword}}&nbsp;&nbsp;</b></a>
                    {% endfor %}
            {% endif %}
            {% if hot_standpoints %}
                <br><i class="fa fa-tag"> 熱門網友標籤：</i>
                    {% for standpoint in hot_standpoints %}
                        <a href="{% url 'vote:votes' %}?tag={{standpoint.title}}" rel="tooltip" title="包含此標籤的表決"><b style="color: #9F0050;">{{standpoint.title}}&nbsp;&nbsp;</b></a>
                    {% endfor %}
            {% endif %}
            </p>
            {% if keyword %}
                <div class="well well-small">
                    <font class="lead">
                        {{ results|length }} 個有關<font style="color: red;">"{{keyword}}"</font>的表決、法案
                    </font>
                </div>
            {% endif %}

            {% if results %}
                {% load pagination_tags %}
                {% autopaginate results 100 %}
                {% paginate %}
                <ul class="media-list">
                    {% for fragment in results %}
                        {% if fragment.model_name == 'vote' %}
                            {% include "vote/vote_summary.html" %}
                        {% elif fragment.model_name == 'bill' %}
                            {% include "bill/bill_summary.html" %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% paginate %}
            {% endif %}
        </div>
        <div class="span2">
        </div>
    </div>
{% endblock right %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("[rel='tooltip']").tooltip();
            $('#ImageMap').maphilight();
        });
    </script>
{% endblock script %}
