<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "base.html" %}
{% block title %}
	<title>立委投票指南:資料來源</title>
	<meta property="og:title" content="立委投票指南:資料來源"/>
	<meta itemprop="name" content="立委投票指南:資料來源">		
{% endblock %}
{% block right %}
    <div class="row-fluid">
        <br>
        <div class="hero-unit">
            <div class="span6">
                資料來源
                <ul class="lead">
                    <li><a href="http://www.ly.gov.tw/" target="_blank">立法院全球資訊網</a></li><br>
                    <li><a href="http://npl.ly.gov.tw/" target="_blank">立法院國會圖書館</a></li><br>
                    <li><a href="http://lci.ly.gov.tw" target="_blank">議事暨公報管理系統</a></li><br>
                    <li><a href="http://bulletin.cec.gov.tw/" target="_blank">中央選舉委員會</a></li><br>
                    <li><a href="http://misq.ly.gov.tw/" target="_blank" >議案整合暨綜合查詢系統</a></li><br>
                    <li><a href="http://lis.ly.gov.tw/lgcgi/ttsweb?@0:0:1:lgmempropg08@@0.9566586897708476" target="_blank">立法院法律提案審議進度系統</a></li>	
                </ul>
            </div>
            <div class="span6">
                <div class="fb-like pull-right" data-width="50" data-layout="box_count" data-show-faces="false" data-send="false" href="https://www.facebook.com/TW.Voter.Guide"></div>
                設計參考
                <ul class="lead">
                    <li><a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a></li><br>
                    <li><a href="http://popoloproject.com/" target="_blank">The Popolo Project</a></li>
                </ul>	
                友站連結
                <ul class="lead">
                    <li><a href="http://ly.g0v.tw/" target="_blank">g0v國會大代誌</a></li><br>
                    <li><a href="http://fact.g0v.tw/" target="_blank">g0v政誌</a></li>
                </ul>	
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
$(document).ready( function() {
	$('#reference').addClass('active');
});
</script>
{% endblock %}
