{% load ly_extras %}

<li class="media">
    <div class="media-body well">
        <div class="media-heading">
            <h4>{{fragment.data.提案名稱}}</h4>
            <span class="pull-right">提案日期：{{fragment.data.date}}</span>
        </div>
        <div>
            <h5 class="text-success">主提案</h5>
            <blockquote>
            {% for name in fragment.data.主提案 %}
                {{name}}
            {% endfor %}
            </blockquote>
            <h5 class="text-success">類別</h5>
            <blockquote>
            {% for item in fragment.data.類別 %}
                {{item}}
            {% endfor %}
            </blockquote>
        </div>
        <h4>
            {% if fragment.laws.all %}
            <a href="{% url 'bill:bill' fragment.uid %}" target="_blank"><i class="fa fa-file-pdf-o"> 法律條文對照表</i></a>
            {% else %}
            <a href="{{fragment.data.links.關係文書}}" target="_blank"><i class="fa fa-file-pdf-o"> 法律條文對照表</i></a>
            {% endif %}
        </h4>
    </div>
</li>
