<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/index.html" %}
{% load ly_extras %} 
{% block ly_table %}
<h3 class="text-center text-warning">
{% if index == 'biller' %}法條修正草案數(多&rarr;少)
{% elif index == 'conscience_vote' %}脫黨投票表決數(多&rarr;少)
{% else %}投票表決次數(多&rarr;少)
{% endif %}</h3>
	
		{% if index == 'biller' %}
			<form action="" method="get" class="form-search text-center" id="form_bill">
				{% csrf_token %}
				<fieldset>
					<label class="checkbox">
						<input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %}>計算草案數時，不是草案的<b class="text-info">主</b>提案人也算嗎?<br>(主提案人貢獻較高，其他人貢獻較低或只是掛名)					
					</label>
				</fieldset>
			</form>
		{% endif %}
		<table class="table table-bordered table-condensed">
		{% if ly_list %}
			{% for ly in ly_list %}
				{% if forloop.counter0|divisibleby:20 %}
					</tr><tr style="background-color: {% cycle 'EEEEEE' 'white' %};"><td>{{forloop.counter}}~{{forloop.counter|add:19}}名</td>
				{% endif %}				
				<td>
				{% if index == 'biller' %}<a href="{% url 'legislator:biller_detail' ly.id %}" rel="tooltip" title="草案
					{% if proposertype %}{{ly.nbill}}		
					{% else %}{{ly.npribill}}
					{% endif %}個">
				{% elif index == 'conscience_vote' %}<a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='conscience' %}" rel="tooltip" title="脫黨投票{{ly.nconsciencevote}}次">	
				{% else %}<a href="{% url 'legislator:voter_detail' ly.id %}" rel="tooltip" title="沒投票{{ly.notvote}}次">
				{% endif %}
				{% if ly.party == "中國國民黨" %}
				<font color=0066FF>
				{% elif ly.party == "民主進步黨" %}
				<font color=009900>
				{% elif ly.party == "親民黨" %}
				<font color=orange>
				{% elif ly.party == "台灣團結聯盟" %}
				<font color=brown>
				{% elif ly.party == "無" %}
				<font color=777777>
				{% endif %}	
				{{ ly.name }}</font>				
				</a>
				</td>	
			{% endfor %}
	{% endif %}
	{% if no_count_list %}
			</tr><tr style="background-color: #FFFFCC;"><td rowspan="6" style="text-align:center; font-weight:bold;">0次</td>
			{% for ly in no_count_list %}
				{% if forloop.counter0|divisibleby:20 %}
					</tr>
				{% endif %}				
				<td>
				{% if index == 'biller' %}<a href="{% url 'legislator:biller_detail' ly.id %}" rel="tooltip" title="草案
					{% if proposertype %}{{ly.nbill}}		
					{% else %}{{ly.npribill}}
					{% endif %}個">
				{% elif index == 'conscience_vote' %}<a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='conscience' %}" rel="tooltip" title="脫黨投票{{ly.nconsciencevote}}次">	
				{% else %}<a href="{% url 'legislator:voter_detail' ly.id %}" rel="tooltip" title="沒投票{{ly.notvote}}次">
				{% endif %}
				{% if ly.party == "中國國民黨" %}
				<font color=0066FF>
				{% elif ly.party == "民主進步黨" %}
				<font color=009900>
				{% elif ly.party == "親民黨" %}
				<font color=orange>
				{% elif ly.party == "台灣團結聯盟" %}
				<font color=brown>
				{% elif ly.party == "無" %}
				<font color=777777>
				{% endif %}	
				{{ ly.name }}</font>				
				</a>
				</td>	
			{% endfor %}					
	{% endif %}
			<tr class="info" ><td colspan=21 style="text-align:center;">#註：
			<font color=blue>中國國民黨</font>&nbsp;-&nbsp;<font color=009900>民主進步黨</font>&nbsp;-&nbsp;
			<font color=orange>親民黨</font>&nbsp;-&nbsp;<font color=brown>台灣團結聯盟</font>&nbsp;-&nbsp;
			<font color=777777>無黨籍</font></td>
			</tr>	
		</table>
{% endblock %}
