<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/nav_base.html" %}
{% block title %}
	{% if index %}
		<title>立委投票指南:{{index}}的立委</title>	
		<meta property="og:title" content="立委投票指南:{{index}}的立委"/>
		<meta itemprop="name" content="立委投票指南:{{index}}的立委">
	{% else %}
		<title>立委投票指南</title>	
		<meta property="og:title" content="立委投票指南"/>
		<meta itemprop="name" content="立委投票指南">
	{% endif %}	
{% endblock %}
{% block right %}
<div class="page-header text-center">
	<h3>台灣第八屆立委<small>(2012~2016)</small></h3>	
</div>
	<h4 class="text-center text-warning">{{index}}</h4>
	{% if ly_list %}
	<table class="table table-bordered table-condensed" >
		<tr style="font-weight:bold;background-color: #CCFF99;"><td>立委</td><td>選區</td><td>縣市</td><td>行政區</td><td>委員會</td><td>到職日期</td><td>法條修正草案數</td><td>附帶決議、臨時提案數</td><td>沒投票表決(次)</td></tr>
		{% for ly in ly_list %}
		<tr style="background-color: {% cycle 'gainsboro' 'white' %};">
		<td><div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ly.name}}</a>				
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="dropdown-submenu">
				<a data-toggle="dropdown" href="#" >{{ly.name}}的提案</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'legislator:biller_detail' ly.id %}" >法條修正草案</a></li>
					<li><a href="{% url 'legislator:proposer_detail' ly.id %}">附帶決議、臨時提案</a></li>
				</ul>
			</li>	
			<li><a href="{% url 'legislator:voter_detail' ly.id %}">{{ly.name}}的投票紀錄</a></li>					
			<li><a href="{% url 'legislator:chart_personal_report' legislator_id=ly.id index='ly' %}">{{ly.name}}的圖表</a></li>
			<li><a href="{% url 'legislator:ly_politics' ly.id %}">{{ly.name}}的競選政見</a></li>
		</ul>
		</div></td>
		<td>{{ly.eleDistrict}}</td><td><a href="{% url 'legislator:index_district' ly.district %}" >{{ly.district}}</a></td>
		<td>{% if ly.districtDetail %}<abbr title="{{ ly.districtDetail }}">{{ ly.districtDetail|truncatechars:20 }}</abbr>{% endif %}</td><td><a href="{% url 'legislator:index_committee' ly.committee %}" >{{ ly.committee }}</a></td>
		<td>{{ly.enabledate|date:"Y-m-d"}}</td><td>{{ly.npribill}}</td><td>{{ly.npriproposer}}</td><td>{{ly.notvote}}</td></tr>
		{% endfor %}
	</table>
	{% else %}
		<p class="text-error">沒有立委</p>
	{% endif %}
{% endblock %}
{% block script %}
<script>
$(document).ready( function() {
	$('#ly').addClass('active');
	$("[rel='tooltip']").tooltip();
});
</script>
{% endblock %}