<!--[if lt IE 10]>
<!DOCTYPE html>
<![endif]-->
{% extends "legislator/nav_base.html" %}
{% load ly_extras %} 
{% block title %}
	{% if ly %}
		<title>立委投票指南:{{ly.name}}的提案</title>
		<meta property="og:title" content="立委投票指南:{{ly.name}}的提案"/>
		<meta itemprop="name" content="立委投票指南:{{ly.name}}的提案">			
	{% else%}
		<title>立委投票指南:立委的提案</title>
		<meta property="og:title" content="立委投票指南:立委的提案"/>
		<meta itemprop="name" content="立委投票指南:立委的提案">
	{% endif %}
{% endblock %}
{% block left %} 

{% endblock %}

{% block right %} 
<div class="row-fluid">
	<div class="span3">
	<br>
		{% if ly %}
		<table class="table table-bordered">
		<tr><td style="background-color: lightgrey;">立委</td><td><b>{{ ly.name }}</b></td></tr>
		<tr><td style="background-color: lightgrey;">選區縣市</td><td><a href="{% url 'legislator:index_district' ly.district %}" rel="tooltip" title="查看該選區的立委" >{{ly.district}}</a></td></tr>
		{% if ly.districtDetail %}<tr><td style="background-color: lightgrey;">行政區</td><td><abbr title="{{ ly.districtDetail }}">{{ ly.districtDetail|truncatechars:10 }}</abbr></td></tr>{% endif %}
		<tr><td style="background-color: lightgrey;">現任委員會</td><td>{% if ly.enable %}<a href="{% url 'legislator:index_committee' ly.committee %}" >{{ ly.committee|truncatechars:7 }}</a>{% else %}已離職{% endif %}</td></tr>	<tr><td style="background-color: lightgrey;">到職日期</td><td>{{ ly.enabledate|date:"Y-m-d" }}</td>
		<tr><td style="background-color: lightgrey;">法條修正草案數</td><td>{{ ly.npribill }} 個</td></tr>
		<tr><td style="background-color: lightgrey;">附帶決議、臨時提案數</td><td>{{ ly.npriproposer }} 個</td></tr>
		<tr><td style="background-color: lightgrey;">沒投票表決(次)</td><td>{{ly.notvote}} 次</td></tr>
		<tr><td style="background-color: lightgrey;">脫黨表決(次)</td><td>{{ly.nconsciencevote}} 次</td></tr>
		<tr><td colspan=2></td></tr>
		<tr><td style="background-color: lightgrey;" rowspan=3>外部連結</td>
		{% if ly.facebook %}<td><a href={{ ly.facebook }} target="_blank">{{ ly.name }}的 Facebook</a></td></tr>{% endif %}
		{% if ly.wiki %}<td><a href={{ ly.wiki }} target="_blank">{{ ly.name }}的維基百科</a></td></tr>{% endif %}
		{% if ly.officialsite %}<td><a href={{ ly.officialsite }} target="_blank">{{ ly.name }}的立院官網</a></td></tr>{% endif %}
		</tr>
		</table>
		{% endif %}	
	</div>	
	<div class="span9">	
	<br>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-pills">
			<li class="active"><b>{{ ly.name }}</b>的&nbsp;</li>
			<li><a class="btn" id='url_bill' href="{% url 'legislator:biller_detail' ly.id %}">法條修正草案</a></li>
			<li><a class="btn" id='url_proposal' href="{% url 'legislator:proposer_detail' ly.id %}">附帶決議、臨時提案</a></li>
			<li class="dropdown">
				<a id='url_vote' class="btn dropdown-toggle" href="{% url 'legislator:voter_detail' ly.id %}">投票紀錄 <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='' %}" >全投票表決紀錄</a></li>
					<li><a href="{% url 'legislator:voter_detail' legislator_id=ly.id index='conscience' %}" >脫黨投票表決紀錄</a></li>
				</ul>				
			</li>
			<li><a class="btn" id='url_pchart' href="{% url 'legislator:chart_personal_report' legislator_id=ly.id index='ly' %}">圖表</a></li>
			<li><a class="btn" id='url_politics' href="{% url 'legislator:ly_politics' ly.id %}">競選政見</a></li>
			</ul>
		</div>
	</div>
	<br>
	<form action="" method="get" class="form-search" id="form">
	{% csrf_token %}
	<br>
	<fieldset>
	<input type="text" name="keyword" id="keyword" class="span5" maxlength="20" placeholder="例:勞工 居住...空格有交集效果">
	<button type="submit" class="btn">Go!</button>
	<label class="checkbox text-success">
		<input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %}>要包含<b class="text-info">{{ly.name}}</b>不是<b class="text-info">主</b>提案人的提案嗎?
	</label>
	{% if error %}
	<span class="help-inline"><a class="text-error">請輸入關鍵字!!</a></span>
	{% endif %}
	</fieldset>
	</form>
{% if keyword_obj %}
	<h4>熱門：
	{% for keyword in keyword_obj %}
		<a href="{% url 'legislator:proposer_detail' legislator_id=ly.id keyword_url=keyword.content %}" rel="tooltip" title="包含此關鍵字的立委提案"><font style="color: {% cycle '#0099CC' '#009933' %};">{{keyword.content}}&nbsp;</font></a>
	{% endfor %}
	</h4>
{% endif %}		
	<div class="well well-small">
	<p class="lead">{{ly.name}}：
	{{ proposal|length }}個
	{% if keyword %}
		包含<font style="color: red;">"{{keyword}}"</font>的
	{% endif %}臨時提案、附帶決議
	</p>
	</div>
	{% if proposal %}
		{% load pagination_tags %}
		{% autopaginate proposal 10 %}
		{% paginate %}
		<table class="table table-bordered" >
			<thead>
			<tr style="text-align:center; font-weight:bold;background-color: #CCFF99;"><th style="width: 12%">日期</th><th style="width: 12%">主提案人</th><th style="width: 56%">提案內容</th><th style="width: 20%">委員會</th></tr>
			</thead>
			<tbody>
		{% for fragment in proposal %}
			<tr style="background-color: {% cycle '#EEEEEE' 'white' %};">
			<td>{{ fragment.date|date:"Y-m-d" }}</td>
			<td>{{ fragment.primary_proposer.0.name }}</td>
			<td><a href="{% url 'legislator:proposal' fragment.id %}" rel="tooltip" title="查看詳細資訊">
			{% if keyword %}
				{{fragment.content|linebreaksbr|replace:keyword|safe}}
			{% else %}
				{{fragment.content|linebreaksbr|truncatechars:80}}
			{% endif %}</a></td>
			<td>{{ fragment.committee }}</td>
			</tr></tbody>	
		{% endfor %}
		</table>
		{% paginate %}		
	{% else %}
		<p class="text-error">完全沒有提案</p>
	{% endif %}
	<hr>
	<div class="fb-comments" data-width="480" data-num-posts="3" data-href={{current_url}}></div>	
	</div>
</div>	
{% endblock %}
{% block script %}
<script>
$(document).ready( function() {
	$('#ly').addClass('active');
	$('#url_proposal').removeAttr('href').addClass("btn-success");
	$('.dropdown-toggle').dropdown();
	$('#proposertype').change(function() {
		$("#form").trigger('submit');
	});
	$("[rel='tooltip']").tooltip();
});
</script>
{% endblock %}
